#intro {
  display: flex;
  height: 91vh;
  justify-content: center;
  align-items: center;
}

.intro {
  height: 100%;
  width: 100%;
  position: relative;
}

.intro img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro::after {
  content: "";
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#intro .info {
  width: 60%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20%;
  margin: 0 20%;
  z-index: 2;
  color: #f6f6f6;
}

#intro .info h1 {
  font-size: 3em;
  margin-bottom: 50px;
  text-align: center;
}

#intro .info p {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  /* lime 50 */
  color: #f9fbe7;
}

#intro .info address {
  margin-top: 150px;
  font-size: 1.25em;
}

#intro .info address span {
  font-weight: 500;
}

#intro .info address a {
  color: #f6f6f6;
  padding: 5px;
}

#intro .info address a:hover {
  /* lime 600 */
  background-color: #c0ca33;
}

@media screen and (max-width: 650px) {
  #intro .info address {
    display: none;
  }
}
